@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo/Arimo-Regular.eot');
    src:
        url('../fonts/arimo/Arimo-Regular.woff') format('woff'),
        url('../fonts/arimo/Arimo-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo/Arimo-Bold.eot');
    src:
        url('../fonts/arimo/Arimo-Bold.woff') format('woff'),
        url('../fonts/arimo/Arimo-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Scada';
    src: url('../fonts/scada/Scada-Regular.eot');
    src:
        url('../fonts/scada/Scada-Regular.woff') format('woff'),
        url('../fonts/scada/Scada-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Scada';
    src: url('../fonts/scada/Scada-Bold.eot');
    src:
        url('../fonts/scada/Scada-Bold.woff') format('woff'),
        url('../fonts/scada/Scada-Bold.ttf') format('truetype');
    font-weight: bold;
}